#propriedades {
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #f2f2f2;
}

.propriedades-container {
  padding: 2rem;
  border: 1px solid #bbb;
  border-radius: 8px;
  background-color: #ffffff;
}

.propriedades-container h2 {
  margin-bottom: 1rem;
  color: #4b0082;
}

/* Justify-content */
/* Container de cada exemplo */
.container-1 {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border: 2px solid gray;
  background-color: #fff;
  border-radius: 6px;
}
/* Itens */
.item-1 {
  padding: 2rem;
  background-color: #e75454;
  border: 2px solid red;
  border-radius: 4px;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

/* Align-items */
.container-2 {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border: 2px solid gray;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
}
.item-2 {
  padding: 2rem;
  background-color: #e75454;
  border: 2px solid red;
  border-radius: 4px;
}
.AlignItemsStretch {
  align-items: stretch;
}
.AlignItemsStart {
  align-items: flex-start;
}
.AlignItemsEnd {
  align-items: flex-end;
}
.AlignItemsCenter {
  align-items: center;
}
.AlignItemsBaseline {
  align-items: baseline;
}
/* Align-content - usa wrap obrigatório */
.wrap {
  display: flex;
  flex-wrap: wrap;
  height: 400px; /* Altura para visualizar o efeito */
}
.AlignContentStart {
  align-content: flex-start;
}
.AlignContentCenter {
  align-content: center;
}
.AlignContentEnd {
  align-content: flex-end;
}
.AlignContentBetween {
  align-content: space-between;
}
.AlignContentAround {
  align-content: space-around;
}
.AlignContentStretch {
  align-content: stretch;
}
